{{define "content"}}
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Reserve</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{if not (empty .Flash)}}
      <p class="mdl-color-text--pink">{{.Flash}}</p>
    {{end}}


    {{if .Reserved}}
    <div id="slot" style="overflow-x:auto;">
      <table class="mdl-data-table" border="1px solid black">
        <tbody>
          <tr>
            <!-- <td></td>
                      <td></td>
                      </tr> -->
            <td class="mdl-data-table__cell--non-numeric">
              <strong>Date:</strong>
            </td>
            {{range .Slots}}
          
            <td style="text-align:center;" class="mdl-data-table__cell--non-numeric">{{.Date}}</td>
          
            {{end}}
          </tr>

          <tr>
            <!-- <td></td>
                                <td></td>
                                </tr> -->
            <td class="mdl-data-table__cell--non-numeric">
              <strong>Start Time:</strong>
            </td>
            {{range .Slots}}
          
            <td style="text-align:center;" class="mdl-data-table__cell--non-numeric">{{.StartTime}}</td>
          
            {{end}}
          </tr>

          <tr>
            <!-- <td></td>
                                <td></td>
                                </tr> -->
            <td class="mdl-data-table__cell--non-numeric">
              <strong>End Time:</strong>
            </td>
            {{range .Slots}}
          
            <td style="text-align:center;" class="mdl-data-table__cell--non-numeric">{{.EndTime}}</td>
          
            {{end}}
          </tr>

          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <strong>Resource:</strong>
            </td>
            {{range .Slots}}
          
            <td style="text-align:center;" class="mdl-data-table__cell--non-numeric">{{.Resource}}</td>
          
            {{end}}
          </tr>

          <tr>
            <!-- <td></td>
                      <td></td>
                      </tr> -->
            <td class="mdl-data-table__cell--non-numeric">
              <strong>Cancel Reservation:</strong>
            </td>
            {{range .Slots}}
          
            <!-- <td class="mdl-data-table__cell--non-numeric">No confirmation</td> -->
            <td style="text-align:center;">
              <form action="/reserve" method="POST">
              <input type="hidden" name="slot[id]" value="{{.ID}}">
              <input type="hidden" name="cancel" value="true">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Cancel
              </button>
            </form>
          </td>
            {{end}}
          </tr>
           
</tbody>
</table>

        {{if .Schedule}}
          <br />

          <p>
            <a href="" id="toggle-schedule">Reserve</a> another slot.
          </p>
        {{end}}
      </div>
    {{end}}

    <div id="schedule"{{if .Reserved}} class="hidden"{{end}}>
      {{if .Reserved}}
        <p>
          <a href="" id="toggle-schedule">Cancel</a>
        </p>
      {{end}}
      <div>
        {{range .Schedule}}
          {{range $i, $_ := .}}
            {{if (eq ($i | string) "0")}}
              </div>
              <h3 class="mdl-typography--text-center">{{.Date}}</h3>
              <div class="mdl-grid">
            {{end}}
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
              <ul class="mdl-list">
                <li class="mdl-list__item">
                  <span class="mdl-list__item-primary-content">
                    {{.StartTime}} - {{.EndTime}}
                    </br>
                    {{.Resource}}
                  </span>
                  <span class="mdl-list__item-secondary-action">
                    <form action="/reserve" method="POST">
                      <input type="hidden" name="slot[id]" value="{{.ID}}">
                      <input type="hidden" name="cancel" value="false">
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Reserve
                      </button>
                    </form>
                  </span>
                </li>
              </ul>
            </div>
          {{end}}
        {{else}}
          <p class="mdl-color-text--pink">No free slots.</p>
        {{end}}
      </div>
    </div>
  </div>
{{end}}
